<ng-container *transloco="let translate;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <ng-container *ngFor="let item of (items$ | async)?.data">
            <div class="col-lg-4">
              <div class="card mb-4">
                <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                    alt="..." /></a>
                <div class="card-body">
                  <div class="small text-muted">{{item.CreatedDate}}</div>
                  <ng-container *ngIf="(item.Contents | content: 'title').length > 50;else elseContent">
                    <h2 class="card-title h4">{{ (item.Contents | content: 'title') | slice:0:50 }}...</h2>
                  </ng-container>
                  <ng-template #elseContent>
                    <h2 class="card-title h4">{{ item.Contents | content: 'title' }}</h2>
                  </ng-template>
                  <a class="btn btn-primary" [routerLink]="['/', 'posts', item.Id]" >Read more →</a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
        <nav aria-label="Pagination">
          <hr class="my-2" />
          <ul class="pagination justify-content-center">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange($event)"></ngb-pagination>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</ng-container>
