<div class="nk-main">
  <div class="nk-wrap nk-wrap-nosidebar">
      <div class="nk-content ">
          <div class="nk-split nk-split-page nk-split-md">
              <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white">
                  <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                      <a [routerLink]="['/']" class="toggle btn-white btn btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
                  </div>
                  <div class="nk-block nk-block-middle nk-auth-body">
                      <div class="brand-logo pb-5">
                          <a [routerLink]="['/']" class="logo-link">
                              <img class="logo-light logo-img logo-img-lg" src="/assets/icons/icon-384x384.png" srcset="/assets/icons/icon-384x384.png 2x" alt="logo">
                              <img class="logo-dark logo-img logo-img-lg" src="/assets/icons/icon-384x384.png" srcset="/assets/icons/icon-384x384.png 2x" alt="logo-dark">
                          </a>
                      </div>
                      <router-outlet></router-outlet>
                  </div>
              </div>
              <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" >
                  <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                      <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                          <div class="slider-item">
                              <div class="nk-feature nk-feature-center">
                                  <div class="nk-feature-img">
                                      <img class="round" src="/assets/icons/icon-512x512.png" srcset="/assets/icons/icon-512x512.png 2x" alt="">
                                  </div>
                                  <div class="nk-feature-content py-4 p-sm-5">
                                      <h4>DEMO APP M2</h4>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
