<div class="modal-content">
  <a href="javascript:void(0)" (click)="dismissModal()" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross"></em></a>
  <div class="modal-body modal-body-lg text-center">
      <div class="nk-modal">
          <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
          <h4 class="nk-modal-title">Təsdiq edirsiniz?</h4>
          <div class="nk-modal-action">
              <button class="btn btn-lg btn-mw btn-primary" (click)="approveDetail()" >Bəli!</button>
          </div>
      </div>
  </div>
</div>


