<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{posts.Contents | content: 'title'}}</h1>
                    <div class="text-muted fst-italic mb-2">{{posts.CreatedDate}}</div>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{posts.Category.Contents |
                        content: 'title'}}</a>
                </header>
                <figure class="mb-4"><img class="img-fluid rounded"
                        src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                <section class="mb-5" [innerHTML]="(posts.Contents | content: 'description') | safe: 'html'">
                </section>
            </article>
        </div>
    </div>
</div>